useDynLib(ganDataModel)
export(dmTrain)
export(dmBuildSubspaces)
export(dmRemoveSubspaces)
export(dmGetAssignedSubspaces)
export(dmReset)
export(dmRead)
export(dmCalculateDensityValue)
export(dmPlotSubspaces)
export(dmPlotGenerativeDataParameters)
export(dmPlotSubspaceParameters)
export(dmPlotEvaluateDataSourceParameters)
export(dmPlotEvaluate)
export(dmGetLevels)
export(dmGetNumberOfSubspaces)
importFrom(Rcpp, evalCpp)
import(tensorflow)
importFrom(grDevices, dev.off, png, rgb)
importFrom(graphics, legend, par, plot, points)
importFrom(stats, runif)
