useDynLib(ganDataModel)
export(dmTrain)
export(dmBuildMetricSubspaces)
export(dmRemoveMetricSubspaces)
export(dmGetContainedInMetricSubspaces)
export(dmReset)
export(dmRead)
export(dmCalculateDensityValue)
export(dmPlotMetricSubspaces)
export(dmPlotMetricSubspaceParameters)
export(dmPlotEvaluateDataSourceParameters)
export(dmGetLevels)
export(dmGetMetricSubspaceProperties)
importFrom(Rcpp, evalCpp)
import(tensorflow)
importFrom(grDevices, dev.off, png, rgb)
importFrom(graphics, legend, par, plot, points, text)
importFrom(stats, runif)
